.content {
	padding: 10px;
}

#left, #mid, #right {
	float: left;
	margin-left: 1%;
}

#left {
	width: 19%;
	height: 600px;
}

#left .nav {
	position: fixed;
}
#mid {
	width: 39%;
}
#right {
	width: 38%;
	margin-right: 1%;
}

/*话题／分享添加>目的地／风格关联*/
.relation {
}
.relation .btn {
	margin-right: 5px;
	margin-bottom: 5px;
}
.relation .btn a {
	color: #FFFFFF;
	margin-left: 5px;
}
.relation .btn a:hover {
	font-weight: bold;
	text-decoration: none;
}

.collapse-btn, .save-btn {
}

/*bootstrarp fix*/
.modal-header {
	padding: 0px 15px;
}
/*END bootstrarp fix*/
