{% block pre %}
{% endblock %}
<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
	<head>
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>微圣经 {% block title %}{% endblock %}</title>

		<link href="/static/img/favicon.ico" rel="shortcut icon">
		<link rel="stylesheet"  href="/static/css/jquery.mobile-1.2.0.css" />
		<link rel="stylesheet" href="/static/css/jqm-docs.css"/>
		{% block css %}
		{% endblock %}

		<script src="/static/js/jquery-1.8.3.min.js"></script>
		<script src="/static/js/jqm-docs.js"></script>
		<script src="/static/js/jquery.mobile-1.2.0.min.js"></script>
		{% block js %}
		{% endblock %}

		<script type="text/javascript" src="/static/js/common.js"></script>
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>