{% extends "layout/base.html" %}

{% block boday %}
<div id="left">
	{% block left %}
	{% endblock %}
</div>
<div id="mid">
	{% block mid %}
	{% endblock %}
</div>
<div id="right">
	{% block right %}
	{% endblock %}
</div>
<div id="myModel"></div>
<div class="clearfix"></div>
{% endblock %}

{% block body %}
<div data-role="page" class="type-interior">
	<div data-role="header" data-theme="f">
		<h1>微圣经</h1>
		<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		<a href="/search" data-icon="search" data-iconpos="notext" data-transition="fade">Search</a>
		<!-- <a href="/search" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="fade">Search</a> -->
	</div><!-- /header -->
	<div data-role="content">
		{% block content %}
		{% endblock %}
	</div>
	<div data-role="footer" class="footer-docs" data-theme="c">
		<p class="jqm-version"></p>
		<p>
			&copy; 2013 www.weibible.org
		</p>
	</div>
</div>
{% endblock %}