{%macro page_macro(page, url)%}
<input type="hidden" id="curnum" name="curnum" value="{{page.pagenum}}">
<ul>
	{%if page.pagenum > 1%}
	<li>
		<a href="{{url|replace(':page:',page.pagenum-1)}}">上一页</a>
	</li>
	{%else%}
	<li class="disabled">
		<a href="#">上一页</a>
	</li>
	{%endif%}

	{%if page.ptotal > 10%}

	{%if 5> page.ptotal-page.pagenum %}
	{%for num in range(page.ptotal-9,page.ptotal+1)%}
	{% if page.pagenum == num %}
	<li class="active">
		<a  href="#">{{num}}</a>
	</li>
	{% else %}
	<li>
		<a  href="{{url|replace(':page:',num)}}">{{num}}</a>
	</li>
	{% endif %}
	{%endfor%}
	{%elif 5>= page.pagenum %}
	{% for num in range(10) %}
	{% if page.pagenum == num+1 %}
	<li class="active">
		<a  href="#">{{num+1}}</a>
	</li>
	{% else %}
	<li>
		<a  href="{{url|replace(':page:',num+1)}}">{{num+1}}</a>
	</li>
	{% endif %}
	{% endfor %}
	{%else%}
	{%for num in range(page.pagenum-5,page.pagenum+5)%}
	{% if page.pagenum == num %}
	<li class="active">
		<a  href="#">{{num}}</a>
	</li>
	{% else %}
	<li>
		<a  href="{{url|replace(':page:',num)}}">{{num}}</a>
	</li>
	{% endif %}
	{%endfor%}
	{% endif %}

	{% else %}
	{%if page.ptotal > 1%}
	{% for num in range(page.ptotal) %}
	{% if page.pagenum == num+1 %}
	<li class="active">
		<a  href="#">{{num+1}}</a>
	</li>
	{% else %}
	<li>
		<a  href="{{url|replace(':page:',num+1)}}">{{num+1}}</a>
	</li>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endif %}

	{%if page.ptotal > page.pagenum  %}
	<li>
		<a href="{{url|replace(':page:',page.pagenum+1)}}">下一页</a>
	</li>
	{%else%}
	<li class="disabled">
		<a href="#">下一页</a>
	</li>
	{%endif%}

</ul>
{%endmacro%}

{% macro menu(option)%}
<div class="content-secondary">
	<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
		<h3>更多选项</h3>
		<ul data-role="listview" data-theme="c" data-dividertheme="d">
			<!-- <li><a href="/home">&nbsp;&nbsp;&nbsp;&nbsp;首页</a></li> -->
			<li><a href="/search">圣经查询</a></li>
			<li><a href="/s/edit">创建词条</a></li>
			<li><a href="/contact">联系我们</a></li>
			<li><a href="/help">使用帮助</a></li>
		</ul>
	</div>
</div>		

<!-- <script>$('#li-{{option}}').addClass('active')</script> -->
{% endmacro %}